@media (max-width: 420px) {
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(235, 221, 96);
    }

    .row1{
        background-color: white;
    }
       

}